block vars
  - var BODY_CLASS = "top"
  - var CATCH_COPY = "今年は、集まらないハロウィンを。"
  -
    var contents = [
      {
        key: "mask",
        copy: "マスクで毎日ハロウィン",
        body: "毎日をハロウィンに。ジャック・オ・ランタン、ドラキュラ、狼男…つけるだけで仮装できる、ドネーション付きマスクです。"
      },
      {
        key: "workshop",
        copy: "子どもとマスクづくり<br />ハロウィン",
        body: "子どもたちとつくる、オリジナルハロウィンマスクの作り方をご紹介します。"
      },
      {
        key: "present",
        copy: "プレゼントマスクで<br />ハロウィン",
        body: "抽選でハロウィンマスクをプレゼント！詳しくはこちらから。 ( 応募期間 2020.9.24 - 2020.10.14)"
      },
      {
        copy: "Coming Soon",
      }
    ]

include /component/globals/head.pug
  .page-wrap
    .container.main(style="display:none")
      .global-header
        include /component/globals/header.pug
      .global-body
        .wrap#hero
          .main
            img.sp(src="/images/main.svg")
            img.pc(src="/images/main-pc.svg")
          .sub
            img.sp(src="/images/sub.svg")
          .hash
            .label
              span.inline-block # あたらしいハロウィン
              span.inline-block はじめよう。
            p 集まらないハロウィンを楽しむためのさまざまな取り組みを⾏います。
        .wrap#content
          each item, i in contents
            section.section.fadein(id=`c0${i+1}`)
              a(href=`/${item.key}`)
                .section-title
                  span.catch あたらしい<br />ハロウィン
                  spam.num.font-style-2 0#{i+1}
                  span.copy #!{item.copy}
                  if item.body
                    img(width="30%" src="/images/split-mask.svg")
                if item.body
                  section-content
                    img(src=`/images/content-0${i+1}.jpg`)
                    p !{item.body}
        .wrap#sns
          section.section#04
            .section-title
              .label.font-style-2 SNS
              span プロジェクトの最新情報や、みなさんの
              span.color-white ＃あたらしいハロウィン
              span をご紹介しています。
            .section-content
            .share.flex-box
              a(href="https://twitter.com/hnhsInfo" target="_blank")
                img(src="/images/tw.svg")
              a(href="https://www.instagram.com/hnhs.info/" target="_blank")
                img(src="/images/ig.svg")
        .wrap#partner
          section.section#05
            .section-title
              img(src="/images/title-05.svg")
            .section-content
              p 共感してくださる企業・個人のみなさまが、自由に参加できるプロジェクトです。本プロジェクトのロゴマークはWEBや印刷物等へお使いいただけます。
              .btn-wrap
                a.btn(href="/images/logo.zip" download) ロゴデータはこちら
              .btn-wrap
                a.btn(href="mailto:hnhs.info@gmail.com" target="_blank") お問い合わせ
      .global-footer
        include /component/globals/footer.pug