block vars
  - var BODY_CLASS = "mask sub"
  - var INDEX = "01"
  -
    var COPY = [
      "#マスクで毎日ハロウィン"
    ]
  -
    var BODY = [
      "１⽇だけのお祭りよりも、",
      "毎⽇のマスクで仮装気分。",
      "ジャック・オ・ランタン、",
      "ドラキュラ、狼男…",
      "つけるだけで仮装できる、",
      "ドネーション付きマスクを作りました。",
      "",
      "ハロウィンイベントだけでなく、",
      "さまざまなカルチャーが⽣まれてきた渋⾕。",
      "渋⾕の街をこれからも",
      "よりよく変化させていくために、",
      "売り上げの⼀部は、",
      "街のメンテナンスや",
      "ゴミ清掃の費⽤として寄付されます。"
    ]
  -
    var masks = [
      {
        label: "Jack O'Lantern",
        ruby: "ジャック・オ・ランタン"
      },
      {
        label: 'Skeleton',
        ruby: '墓場からお出ましガイコツ'
      },
      {
        label: 'Dracula',
        ruby: '目覚めたドラキュラ'
      },
      {
        label: 'Blue Frankenstein',
        ruby: '人造人間フランケン'
      },
      {
        label: 'Pink Frankenstein',
        ruby: 'キュートなフランケン'
      },
      {
        label: 'Werewolf',
        ruby: '月夜のオオカミ男'
      },
      {
        label: 'Black cat',
        ruby: 'イタズラ化けねこ'
      },
      {
        label: 'White Cat',
        ruby: '笑う魔女ねこ'
      },
      {
        label: 'Slit Mouth Woman',
        ruby: 'ワタシ、キレイ？口裂け女'
      },
      {
        label: "Devil's Hand",
        ruby: '呪われた悪魔の手'
      }
    ]

include /component/globals/head.pug
  .page-wrap
    .container.main(style="display:none")
      .global-header
        include /component/globals/header.pug
      .global-body
        .hero.fadein
          include /component/globals/sub-header.pug
        section.section#mask
          .section-content.wrap
            .btn 10/1 発売開始！
            .items
              each mask, x in masks
                .item
                  .num No.#{x+1}
                  img(src=`/images/mask/mask-${x+1}.png`)
                  .label #{mask.label}
                  .ruby #{mask.ruby}
            .photos
              - for (var x = 0; x < 3; x++)
                .item
                  img(src=`/images/mask/photo-${x+1}.jpg`)
      .global-footer
        include /component/globals/footer.pug