block vars
  - var BODY_CLASS = "musk sub"
  - var INDEX = "01"
  - var COPY = "マスクで毎日ハロウィン"
  -
    var BODY = [
      "１⽇だけのお祭りよりも、",
      "毎⽇のマスクで仮装気分。",
      "ジャック・オ・ランタン、",
      "ドラキュラ、狼男…",
      "つけるだけで仮装できる、",
      "ドネーション付きマスクを作りました。",
      "",
      "ハロウィンイベントだけでなく、",
      "さまざまなカルチャーが⽣まれてきた渋⾕。",
      "渋⾕の街をこれからも",
      "よりよく変化させていくために、",
      "売り上げの⼀部は、",
      "街のメンテナンスや",
      "ゴミ清掃の費⽤として寄付されます。"
    ]

include /component/globals/head.pug
  .page-wrap
    .container.main(style="display:none")
      .global-header
        include /component/globals/header.pug
      .global-body
        .hero.fadein
          .wrap
            .hero-title
              span.catch あたらしい<br />ハロウィン
              spam.num.font-style-2 #{INDEX}
              span.copy #!{COPY}
              img(width="80px" src="/images/split-musk.svg")
            .hero-content
              img(src=`/images/content-${INDEX}.jpg`)
              .body
                each item in BODY
                  span.inline-block #{item}
            .hero-sub
              each item in BODY
                span.inline-block #{item}
        section.section#musk
          .section-content 
            .btn 10/1 発売開始！
            .items
              - for (var x = 0; x < 10; x++)
                .item
                  img(src=`/images/musk/musk-${x+1}.png`)
            .photos
              - for (var x = 0; x < 3; x++)
                .item
                  img(src=`/images/musk/photos-${x+1}.jpg`)
      .global-footer
        include /component/globals/footer.pug