block vars
  - var BODY_CLASS = "wp sub"
  - var INDEX = "02"
  -
    var COPY = [
      "#子どもとマスクづくり",
      "ハロウィン"
    ]
  -
    var BODY = [
      "友だちと遊ぶときも、",
      "幼稚園や⼩学校に⾏くときも、",
      "いつもマスクがついてくる。",
      "顔が隠れちゃう？",
      "みんな⼀緒でつまらない？",
      "それならマスクをキャンバスにして、",
      "あたらしい顔をつくっちゃおう。",
      "さあ、マスクひとつで⼤変⾝！",
      "オリジナルのハロウィンマスクの",
      "作り⽅をご紹介。",
      "世界に⼀つの顔マスクをつけて、",
      "みんなで笑顔になろう。"
    ]
  -
    var course = [
      {
        label: '布マスク、布用ボンド、好きな布、はさみ、型紙を用意します。',
        attention: [
          "＊安全なボンドをお使いください",
          "＊子ども用の安全なはさみをご用意ください"
        ],
        href: "/images/hnhs2020musk.pdf"
      },
      {
        label: '型紙にあわせて布を切り、パーツをつくります。'
      },
      {
        label: 'パーツをボンドでマスクに貼りつけて、'
      },
      {
        label: '完成です！'
      }
    ]

include /component/globals/head.pug
  .page-wrap
    .container.main(style="display:none")
      .global-header
        include /component/globals/header.pug
      .global-body
        .hero.fadein
          include /component/globals/sub-header.pug
        section.section#ws
          .section-content.wrap
            .label ハロウィンマスクのつくりかた
            .course
              each item, i in course
                .item
                  .title
                    img.num(src=`/images/ws-num-${i+1}.svg`, alt=`${i+1}`)
                    span #{item.label}
                  img.img(src=`/images/ws-${i+1}.png`, alt=`${item.label}`)
                  if i === 0
                    .btn-wrap
                      a.btn(href=`${item.href}` download) 型紙はこちら
            .label
              span.inline-block たとえば…
              span.inline-block こんなのつくれるよ！
            .showroom
              - for (var x = 0; x < 5; x++)
                img(src=`/images/sr-${x+1}.jpg`, alt="")
      .global-footer
        include /component/globals/footer.pug